@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Quattrocento&display=swap');

/* font-family: 'Oswald', sans-serif;
font-family: 'Quattrocento', serif; */

#image-grid button{
  padding:0;
  margin: 0;
  border-style: none;
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

#modal-2 {
  text-align: left;
  border-style: solid;
  padding: 1rem;
  overflow-wrap: break-word;
}

header {
  height:100vh;
  background: url("../img/header.jpg") no-repeat center center fixed;
  background-size: cover;

  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

header h1, header h3 {
  color:white;
  text-shadow: 4px 4px 6px black;
}

h1, h3 {
  font-family: 'Oswald', sans-serif;
}

form {
  justify-content: space-around;

}

#top{
  display:none;
  background-color: white;
}

body {
  position: relative;
  min-height: 100vh;
}


footer {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
}

footer img{
  max-height: 5rem;
}

#footer-txt{
  text-align: right;
  margin: auto 0;
}

.vis {
  display: none !important;
}

body {
  background-image: url("../img/geometric-leaves.png");
  background-repeat: repeat;
}

